@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Ma Shan Zheng";
}

h1{
    font-family:"Noto Sans SC"
} 

li{
  font-family:"Noto Sans SC"
}

div.line{
    border-width:1px;
  }

 
      
    
  


button {
  padding:12px 20px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #5C5858;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    
  }
  
  button:hover {background-color: #4C4646}
  
  button:active {
 background-color: #4C4646;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  } 


  
